body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100vh 90vh 90vh 48vh;
  height: 100%;
}
body button {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  color: #D3AB55;
  border: #D3AB55 solid 1px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
}
body button:hover {
  background-color: #D3AB55;
  color: #262626;
}
body .header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(https://cuisinebo-starter-v3.vercel.app/images/bg.jpeg) center;
  background-size: cover;
  height: 100vh;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}
body .header p {
  font-family: "Josefin Sans", sans-serif;
  color: #BBBBBB;
  font-weight: 200;
}
body .header .header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
body .header .header-top .logo img {
  width: 110px;
  height: 110px;
  border: #D3AB55 solid 3px;
  border-radius: 50%;
  margin-right: 20px;
}
body .header .header-top h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #BBBBBB;
  font-weight: 200;
  letter-spacing: 2px;
}
body .header .header-top p {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
body .header .header-middle {
  direction: flex;
  flex-direction: row;
  text-align: center;
}
body .header .header-middle h2 {
  color: #D3AB55;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 40px;
}
body .header .header-middle p {
  font-size: 60px;
  margin-top: 0;
}
body .about-us {
  background-color: #262626;
  grid-column: 1/-1;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body .about-us .about-us-photo {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .about-us .about-us-photo img {
  width: 100%;
}
body .about-us .about-us-right {
  grid-column: 3/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
body .about-us .about-us-right h2 {
  color: #D3AB55;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 40px;
}
body .about-us .about-us-right h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #BBBBBB;
  font-weight: 200;
  font-size: 60px;
}
body .about-us .about-us-right .stars {
  color: #D3AB55;
  letter-spacing: 5px;
}
body .about-us .about-us-right p {
  color: #BBBBBB;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-style: italic;
}
body .about-us .about-us-right button {
  margin-top: 30px;
}
body .gallery {
  grid-column: 1/-1;
  height: 90vh;
}
body .gallery .gallery-cards {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b c" "d e f";
}
body .gallery .gallery-cards .card-overlay {
  background-color: rgba(211, 171, 85, 0.6);
  color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.7s;
}
body .gallery .gallery-cards .card-overlay .card-overlay-heading {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}
body .gallery .gallery-cards .card-overlay .card-overlay-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  color: #fff;
  margin-top: 0;
}
body .gallery .gallery-cards .card-overlay .card-overlay-btn {
  color: #fff;
  border: #BBBBBB solid 2px;
}
body .gallery .gallery-cards .card-overlay .card-overlay-btn:hover {
  background-color: #262626;
}
body .gallery .gallery-cards .test {
  grid-area: a;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
body .gallery .gallery-cards .test .card-overlay {
  grid-area: a;
}
body .gallery .gallery-cards .test .card1 {
  grid-area: a;
  z-index: 12;
  background: url(https://cuisinebo-starter-v3.vercel.app/images/gallery-img-1.jpeg) center/cover;
}
body .gallery .gallery-cards .test:hover .card1 {
  z-index: 8;
}
body .gallery .gallery-cards .test2 {
  grid-area: b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
body .gallery .gallery-cards .test2 .card-overlay {
  grid-area: a;
}
body .gallery .gallery-cards .test2 .card2 {
  grid-area: a;
  z-index: 12;
  background: url(https://cuisinebo-starter-v3.vercel.app/images/gallery-img-2.jpeg) center/cover;
}
body .gallery .gallery-cards .test2:hover .card2 {
  z-index: 8;
}
body .gallery .gallery-cards .test3 {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
body .gallery .gallery-cards .test3 .card-overlay {
  grid-area: a;
}
body .gallery .gallery-cards .test3 .card3 {
  grid-area: a;
  z-index: 12;
  background: url(https://cuisinebo-starter-v3.vercel.app/images/gallery-img-3.jpeg) center/cover;
}
body .gallery .gallery-cards .test3:hover .card3 {
  z-index: 8;
}
body .gallery .gallery-cards .test4 {
  grid-area: d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
body .gallery .gallery-cards .test4 .card-overlay {
  grid-area: a;
}
body .gallery .gallery-cards .test4 .card4 {
  grid-area: a;
  z-index: 12;
  background: url(https://cuisinebo-starter-v3.vercel.app/images/gallery-img-4.jpeg) center/cover;
}
body .gallery .gallery-cards .test4:hover .card4 {
  z-index: 8;
}
body .gallery .gallery-cards .test5 {
  grid-area: e;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
body .gallery .gallery-cards .test5 .card-overlay {
  grid-area: a;
}
body .gallery .gallery-cards .test5 .card5 {
  grid-area: a;
  z-index: 12;
  background: url(https://cuisinebo-starter-v3.vercel.app/images/gallery-img-5.jpeg) center/cover;
}
body .gallery .gallery-cards .test5:hover .card5 {
  z-index: 8;
}
body .gallery .gallery-cards .test6 {
  grid-area: f;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
body .gallery .gallery-cards .test6 .card-overlay {
  grid-area: a;
}
body .gallery .gallery-cards .test6 .card6 {
  grid-area: a;
  z-index: 12;
  background: url(https://cuisinebo-starter-v3.vercel.app/images/gallery-img-6.jpeg) center/cover;
}
body .gallery .gallery-cards .test6:hover .card6 {
  z-index: 8;
}
body .footer {
  background-color: #262626;
  grid-column: 1/-1;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .footer .footer-top .logo img {
  width: 110px;
  height: 110px;
  border: #D3AB55 solid 3px;
  border-radius: 50%;
  margin-right: 20px;
}
body .footer .footer-top h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #BBBBBB;
  font-weight: 200;
  letter-spacing: 2px;
}
body .footer .footer-top p {
  font-family: "Josefin Sans", sans-serif;
  color: #BBBBBB;
  font-weight: 200;
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
body .footer .footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}
body .footer .footer-middle a {
  text-decoration: none;
}
body .footer .footer-middle .social-media-link {
  color: #BBBBBB;
  font-size: 50px;
  letter-spacing: 5px;
}
body .footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .footer .footer-bottom p {
  font-family: "Josefin Sans", sans-serif;
  color: #BBBBBB;
  font-weight: 200;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}/*# sourceMappingURL=nesting.css.map */